## Data Wrangling Project Codes

### Importing Packages

In [1]:
## Dataframe manipulation package
import pandas as pd
## Mathematical functions
import numpy as np
## Graphs and Visualizations
import seaborn as sns
from matplotlib import pyplot as plt
## Statistical functions
from scipy import stats
## To ignore warnings in the output
import warnings
warnings.filterwarnings("ignore")
## To display all rows and columns when exceeds limit
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json
import ast

### Reading Datasets

#### Virat Kohli's batting stats across all three cricketing formats

In [64]:
Virat_kohli_bat_3_format_stats = pd.read_excel('Virat_kohli_ESPN_test_odi_t20.xlsx', sheet_name='3 format ststs')

In [65]:
Virat_kohli_bat_3_format_stats

,Match Format,Span,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100s,50s,0s,4s,6s
0,Test matches,2011-2022,102,173,10,8074,254*,49.53,14499,55.68,27,28,14,910,24
1,One-Day Internationals,2008-2022,262,253,39,12344,183,57.68,13296,92.83,43,64,15,1159,125
2,Twenty20 Internationals,2010-2022,115,107,31,4008,122*,52.73,2905,137.96,1,37,4,356,117

#### Virat Kohli's Batting stats across different countries across all three formats

In [66]:
Virat_kohli_bat_plyd_agnst = pd.read_excel('Virat_kohli_ESPN_test_odi_t20.xlsx', sheet_name='Played_against')

In [67]:
Virat_kohli_bat_plyd_agnst

,Played Against,Span,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100s,50s,0s,4s,6s
0,vs Afghanistan,2012-2022,5,3,1,239,122*,119.5,163,146.62,1,2,0,21,8
1,vs Australia,2009-2022,85,98,10,4559,169,51.8,5918,77.03,15,23,6,435,54
2,vs Bangladesh,2010-2022,21,22,6,1265,204,79.06,1347,93.91,5,5,1,130,9
3,vs England,2011-2022,83,105,11,3970,235,42.23,5806,68.37,8,23,10,423,32
4,vs Hong Kong,2022-2022,1,1,1,59,59*,-,44,134.09,0,1,0,1,3
5,vs Ireland,2011-2018,4,4,1,87,44*,29,105,82.85,0,0,1,8,1
6,vs Namibia,2021-2021,1,-,-,-,-,-,-,-,-,-,-,-,-
7,vs Netherlands,2011-2022,2,2,1,74,62*,74,64,115.62,0,1,0,5,2
8,vs New Zealand,2010-2021,47,57,6,2555,211,50.09,3286,77.75,8,13,2,257,30
9,vs Pakistan,2009-2022,23,23,6,1024,183,60.23,951,107.67,2,7,1,98,15
10,vs Scotland,2021-2021,1,1,1,2,2*,-,2,100,0,0,0,0,0
11,vs South Africa,2010-2022,57,64,10,2957,254*,54.75,4113,71.89,7,14,2,296,31
12,vs Sri Lanka,2008-2022,66,71,13,3644,243,62.82,4284,85.06,13,17,4,345,32
13,vs U.A.E.,2015-2016,2,1,1,33,33*,-,41,80.48,0,0,0,5,0
14,vs West Indies,2009-2022,70,73,10,3653,200,57.98,4239,86.17,11,22,5,371,46
15,vs Zimbabwe,2010-2022,11,8,2,305,115,50.83,337,90.5,1,1,1,30,3

In [68]:
Virat_kohli_bat_plyd_agnst.shape

(16, 15)

### Data Cleaning

#### Changing the column names for better understanding - Formatting

In [69]:
Virat_kohli_bat_plyd_agnst.rename(columns = {'Mat':'Matches Played','Inns':'Innings_played','NO':'Not Outs','HS':'Highest Score','SR':'Strike Rate','BF':'Balls Faced'},inplace = True)

In [70]:
Virat_kohli_bat_plyd_agnst.head()

,Played Against,Span,Matches Played,Innings_played,Not Outs,Runs,Highest Score,Avg,Balls Faced,Strike Rate,100s,50s,0s,4s,6s
0,vs Afghanistan,2012-2022,5,3,1,239,122*,119.5,163,146.62,1,2,0,21,8
1,vs Australia,2009-2022,85,98,10,4559,169,51.8,5918,77.03,15,23,6,435,54
2,vs Bangladesh,2010-2022,21,22,6,1265,204,79.06,1347,93.91,5,5,1,130,9
3,vs England,2011-2022,83,105,11,3970,235,42.23,5806,68.37,8,23,10,423,32
4,vs Hong Kong,2022-2022,1,1,1,59,59*,-,44,134.09,0,1,0,1,3

#### removing rows where the match played is less than 10

In [71]:
Virat_kohli_bat_plyd_agnst = Virat_kohli_bat_plyd_agnst[Virat_kohli_bat_plyd_agnst['Matches Played']>=10]

In [72]:
Virat_kohli_bat_plyd_agnst

,Played Against,Span,Matches Played,Innings_played,Not Outs,Runs,Highest Score,Avg,Balls Faced,Strike Rate,100s,50s,0s,4s,6s
1,vs Australia,2009-2022,85,98,10,4559,169,51.8,5918,77.03,15,23,6,435,54
2,vs Bangladesh,2010-2022,21,22,6,1265,204,79.06,1347,93.91,5,5,1,130,9
3,vs England,2011-2022,83,105,11,3970,235,42.23,5806,68.37,8,23,10,423,32
8,vs New Zealand,2010-2021,47,57,6,2555,211,50.09,3286,77.75,8,13,2,257,30
9,vs Pakistan,2009-2022,23,23,6,1024,183,60.23,951,107.67,2,7,1,98,15
11,vs South Africa,2010-2022,57,64,10,2957,254*,54.75,4113,71.89,7,14,2,296,31
12,vs Sri Lanka,2008-2022,66,71,13,3644,243,62.82,4284,85.06,13,17,4,345,32
14,vs West Indies,2009-2022,70,73,10,3653,200,57.98,4239,86.17,11,22,5,371,46
15,vs Zimbabwe,2010-2022,11,8,2,305,115,50.83,337,90.5,1,1,1,30,3

Countries that were removed due to less # of matches played 
- Afganistan 
- Hong Kong 
- Namibia 
- Ireland 
- Netherlands 
- Scotland 
- U.A.E

In [73]:
Virat_kohli_bat_plyd_agnst['Played Against'] = Virat_kohli_bat_plyd_agnst['Played Against'].str.replace('vs','')
#Virat_kohli_bat_plyd_agnst['Highest Score'] = Virat_kohli_bat_plyd_agnst['Highest Score'].str.replace(r'\*','')

In [74]:
Virat_kohli_bat_plyd_agnst

,Played Against,Span,Matches Played,Innings_played,Not Outs,Runs,Highest Score,Avg,Balls Faced,Strike Rate,100s,50s,0s,4s,6s
1,Australia,2009-2022,85,98,10,4559,169,51.8,5918,77.03,15,23,6,435,54
2,Bangladesh,2010-2022,21,22,6,1265,204,79.06,1347,93.91,5,5,1,130,9
3,England,2011-2022,83,105,11,3970,235,42.23,5806,68.37,8,23,10,423,32
8,New Zealand,2010-2021,47,57,6,2555,211,50.09,3286,77.75,8,13,2,257,30
9,Pakistan,2009-2022,23,23,6,1024,183,60.23,951,107.67,2,7,1,98,15
11,South Africa,2010-2022,57,64,10,2957,254*,54.75,4113,71.89,7,14,2,296,31
12,Sri Lanka,2008-2022,66,71,13,3644,243,62.82,4284,85.06,13,17,4,345,32
14,West Indies,2009-2022,70,73,10,3653,200,57.98,4239,86.17,11,22,5,371,46
15,Zimbabwe,2010-2022,11,8,2,305,115,50.83,337,90.5,1,1,1,30,3

In [75]:
Virat_kohli_bat_plyd_agnst.dtypes

Played Against    object
Span              object
Matches Played     int64
Innings_played    object
Not Outs          object
Runs              object
Highest Score     object
Avg               object
Balls Faced       object
Strike Rate       object
100s              object
50s               object
0s                object
4s                object
6s                object
dtype: object

In [76]:
Virat_kohli_bat_plyd_agnst= Virat_kohli_bat_plyd_agnst.astype({'Matches Played':'int64', 'Innings_played':'int64','Not Outs':'int64','Runs':'int64','Avg':'float','Balls Faced':'int64','Strike Rate':'float','100s':'int64','50s':'int64','0s':'int64','4s':'int64','6s':'int64'})

In [77]:
Virat_kohli_bat_plyd_agnst.dtypes

Played Against     object
Span               object
Matches Played      int64
Innings_played      int64
Not Outs            int64
Runs                int64
Highest Score      object
Avg               float64
Balls Faced         int64
Strike Rate       float64
100s                int64
50s                 int64
0s                  int64
4s                  int64
6s                  int64
dtype: object

In [16]:
Virat_kohli_bat_plyd_agnst.to_csv('Virat_kohli_bat_plyd_against.csv')

#### Virat Kohli's Batting stats across all three formats across multiple years

In [17]:
Virat_kohli_bat_stats_yr_wise = pd.read_excel('Virat_kohli_ESPN_test_odi_t20.xlsx', sheet_name='year wise batting stats')

In [18]:
Virat_kohli_bat_stats_yr_wise

,Year,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100s,50s,0s,4s,6s
0,year 2008,5,5,0,159,54,31.80,239,66.52,0,1,0,21,1
1,year 2009,10,8,2,325,107,54.16,385,84.41,1,2,0,36,3
2,year 2010,27,25,4,1021,118,48.61,1190,85.79,3,7,3,93,5
3,year 2011,43,47,5,1644,117,39.14,2139,76.85,4,10,4,152,9
4,year 2012,40,46,5,2186,183,53.31,2923,74.78,8,10,1,238,14
5,year 2013,43,43,7,1913,119,53.13,2449,78.11,6,10,3,212,23
6,year 2014,38,47,6,2286,169,55.75,2745,83.27,8,12,3,228,33
7,year 2015,31,37,3,1307,147,38.44,1985,65.84,4,3,0,119,12
8,year 2016,37,41,11,2595,235,86.50,3207,80.91,7,13,0,266,19
9,year 2017,46,52,11,2818,243,68.73,3058,92.15,11,10,5,265,36
10,year 2018,37,47,7,2735,160*,68.37,3778,72.39,11,9,3,277,23
11,year 2019,44,46,8,2455,254*,64.60,2711,90.55,7,14,3,240,34
12,year 2020,22,24,1,842,89,36.60,958,87.89,0,7,0,68,15
13,year 2021,24,30,4,964,80*,37.07,1590,60.62,0,10,5,95,12
14,year 2022,32,35,6,1176,122*,40.55,1343,87.56,1,11,3,115,27

#### Changing the column names for better understanding - Formatting

In [19]:
Virat_kohli_bat_stats_yr_wise.rename(columns = {'Mat':'Matches Played','Inns':'Innings_played','NO':'Not Outs','HS':'Highest Score','SR':'Strike Rate','BF':'Balls Faced'},inplace = True)

In [20]:
Virat_kohli_bat_stats_yr_wise.head()

,Year,Matches Played,Innings_played,Not Outs,Runs,Highest Score,Avg,Balls Faced,Strike Rate,100s,50s,0s,4s,6s
0,year 2008,5,5,0,159,54,31.80,239,66.52,0,1,0,21,1
1,year 2009,10,8,2,325,107,54.16,385,84.41,1,2,0,36,3
2,year 2010,27,25,4,1021,118,48.61,1190,85.79,3,7,3,93,5
3,year 2011,43,47,5,1644,117,39.14,2139,76.85,4,10,4,152,9
4,year 2012,40,46,5,2186,183,53.31,2923,74.78,8,10,1,238,14

In [21]:
Virat_kohli_bat_stats_yr_wise['Year'] = Virat_kohli_bat_stats_yr_wise['Year'].str.replace('year','')
#Virat_kohli_bat_plyd_agnst['Highest Score'] = Virat_kohli_bat_plyd_agnst['Highest Score'].str.replace(r'\*','')

In [22]:
Virat_kohli_bat_stats_yr_wise

,Year,Matches Played,Innings_played,Not Outs,Runs,Highest Score,Avg,Balls Faced,Strike Rate,100s,50s,0s,4s,6s
0,2008,5,5,0,159,54,31.80,239,66.52,0,1,0,21,1
1,2009,10,8,2,325,107,54.16,385,84.41,1,2,0,36,3
2,2010,27,25,4,1021,118,48.61,1190,85.79,3,7,3,93,5
3,2011,43,47,5,1644,117,39.14,2139,76.85,4,10,4,152,9
4,2012,40,46,5,2186,183,53.31,2923,74.78,8,10,1,238,14
5,2013,43,43,7,1913,119,53.13,2449,78.11,6,10,3,212,23
6,2014,38,47,6,2286,169,55.75,2745,83.27,8,12,3,228,33
7,2015,31,37,3,1307,147,38.44,1985,65.84,4,3,0,119,12
8,2016,37,41,11,2595,235,86.50,3207,80.91,7,13,0,266,19
9,2017,46,52,11,2818,243,68.73,3058,92.15,11,10,5,265,36
10,2018,37,47,7,2735,160*,68.37,3778,72.39,11,9,3,277,23
11,2019,44,46,8,2455,254*,64.60,2711,90.55,7,14,3,240,34
12,2020,22,24,1,842,89,36.60,958,87.89,0,7,0,68,15
13,2021,24,30,4,964,80*,37.07,1590,60.62,0,10,5,95,12
14,2022,32,35,6,1176,122*,40.55,1343,87.56,1,11,3,115,27

In [23]:
Virat_kohli_bat_stats_yr_wise.dtypes

Year               object
Matches Played      int64
Innings_played      int64
Not Outs            int64
Runs                int64
Highest Score      object
Avg               float64
Balls Faced         int64
Strike Rate       float64
100s                int64
50s                 int64
0s                  int64
4s                  int64
6s                  int64
dtype: object

In [26]:
Virat_kohli_bat_stats_yr_wise= Virat_kohli_bat_stats_yr_wise.astype({'Year':'int64','Matches Played':'int64', 'Innings_played':'int64','Not Outs':'int64','Runs':'int64','Avg':'float','Balls Faced':'int64','Strike Rate':'float','100s':'int64','50s':'int64','0s':'int64','4s':'int64','6s':'int64'})

In [27]:
Virat_kohli_bat_stats_yr_wise.dtypes

Year                int64
Matches Played      int64
Innings_played      int64
Not Outs            int64
Runs                int64
Highest Score      object
Avg               float64
Balls Faced         int64
Strike Rate       float64
100s                int64
50s                 int64
0s                  int64
4s                  int64
6s                  int64
dtype: object

In [30]:
Virat_kohli_bat_stats_yr_wise.to_csv("Virat_kohli_bat_stats_yr_wise.csv")

#### Virat Kohli's Batting stats across him being a captain and non-captain for all three formats

In [40]:
Virat_kohli_bat_stats_match_res = pd.read_excel('Virat_kohli_ESPN_test_odi_t20.xlsx', sheet_name='match results ')

In [41]:
Virat_kohli_bat_stats_match_res

,Match_Results,Span,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100s,50s,0s,4s,6s
0,won match,2008-2022,283,308,70,15844,254*,66.57,18532,85.49,49,79,17,1578,185
1,lost match,2008-2022,159,188,4,6610,153,35.92,8908,74.20,14,44,13,643,70
2,tied match,2011-2020,7,7,1,251,157*,41.83,251,100.00,1,0,0,21,5
3,drawn match,2011-2021,19,27,3,1631,243,67.95,2880,56.63,7,5,3,178,6
4,no result,2009-2020,11,3,2,90,55,90.00,129,69.76,0,1,0,5,0

In [42]:
Virat_kohli_bat_stats_match_res.rename(columns = {'Mat':'Matches Played','Inns':'Innings_played','NO':'Not Outs','HS':'Highest Score','SR':'Strike Rate','BF':'Balls Faced'},inplace = True)

In [43]:
Virat_kohli_bat_stats_match_res.head()

,Match_Results,Span,Matches Played,Innings_played,Not Outs,Runs,Highest Score,Avg,Balls Faced,Strike Rate,100s,50s,0s,4s,6s
0,won match,2008-2022,283,308,70,15844,254*,66.57,18532,85.49,49,79,17,1578,185
1,lost match,2008-2022,159,188,4,6610,153,35.92,8908,74.20,14,44,13,643,70
2,tied match,2011-2020,7,7,1,251,157*,41.83,251,100.00,1,0,0,21,5
3,drawn match,2011-2021,19,27,3,1631,243,67.95,2880,56.63,7,5,3,178,6
4,no result,2009-2020,11,3,2,90,55,90.00,129,69.76,0,1,0,5,0

In [44]:
Virat_kohli_bat_stats_match_res.dtypes

Match_Results      object
Span               object
Matches Played      int64
Innings_played      int64
Not Outs            int64
Runs                int64
Highest Score      object
Avg               float64
Balls Faced         int64
Strike Rate       float64
100s                int64
50s                 int64
0s                  int64
4s                  int64
6s                  int64
dtype: object

In [45]:
Virat_kohli_bat_stats_match_res.to_csv("Virat_kohli_bat_stats_match_res.csv")

#### Virat Kohli's batting stats across different trophies for all three formats

In [46]:
Virat_kohli_bat_stats_trophies = pd.read_excel('Virat_kohli_ESPN_test_odi_t20.xlsx', sheet_name='batting_stats_across_trophies')

In [47]:
Virat_kohli_bat_stats_trophies

,Major Trophies,Span,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100s,50s,0s,4s,6s
0,World Cup,2011-2019,26,26,4,1030,107,46.81,1188,86.70,2,6,0,91,5
1,Asia Cup (ODI),2010-2014,11,10,0,613,183,61.30,631,97.14,3,1,0,60,4
2,Border-Gavaskar,2011-2020,20,36,1,1682,169,48.05,3204,52.49,7,5,3,190,5
3,ICC Champions Trophy,2009-2017,13,12,6,529,96*,88.16,573,92.32,0,5,1,53,8
4,ICC World Test Champ,2019-2022,25,42,2,1461,254*,36.52,2950,49.52,2,8,6,179,5
5,Men's T20 Asia Cup,2016-2022,10,9,4,429,122*,85.80,325,132.00,1,3,1,40,11
6,Men's T20 World Cup,2012-2022,27,25,11,1141,89*,81.50,869,131.30,0,14,0,103,28

#### Changing the column names for better understanding - Formatting

In [48]:
Virat_kohli_bat_stats_trophies.rename(columns = {'Mat':'Matches Played','Inns':'Innings_played','NO':'Not Outs','HS':'Highest Score','SR':'Strike Rate','BF':'Balls Faced'},inplace = True)

In [49]:
Virat_kohli_bat_stats_trophies.head()

,Major Trophies,Span,Matches Played,Innings_played,Not Outs,Runs,Highest Score,Avg,Balls Faced,Strike Rate,100s,50s,0s,4s,6s
0,World Cup,2011-2019,26,26,4,1030,107,46.81,1188,86.70,2,6,0,91,5
1,Asia Cup (ODI),2010-2014,11,10,0,613,183,61.30,631,97.14,3,1,0,60,4
2,Border-Gavaskar,2011-2020,20,36,1,1682,169,48.05,3204,52.49,7,5,3,190,5
3,ICC Champions Trophy,2009-2017,13,12,6,529,96*,88.16,573,92.32,0,5,1,53,8
4,ICC World Test Champ,2019-2022,25,42,2,1461,254*,36.52,2950,49.52,2,8,6,179,5

In [50]:
Virat_kohli_bat_stats_trophies.dtypes

Major Trophies      object
Span                object
Matches Played       int64
Innings_played       int64
Not Outs             int64
Runs                 int64
Highest Score       object
Avg                float64
Balls Faced          int64
Strike Rate        float64
100s                 int64
50s                  int64
0s                   int64
4s                   int64
6s                   int64
dtype: object

In [55]:
Virat_kohli_bat_stats_trophies.to_csv("Virat_kohli_bat_stats_trophies.csv")

#### Virat Kohli's batting stats across different match types for all three formats

In [51]:
Virat_kohli_bat_stats_match_typs = pd.read_excel('Virat_kohli_ESPN_test_odi_t20.xlsx', sheet_name='Batting_stat_across_match_types')

In [52]:
Virat_kohli_bat_stats_match_typs

,Kind of Match,Span,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100s,50s,0s,4s,6s
0,tournament finals,2009-2021,11,12,2,329,77,32.90,445,73.93,0,1,0,28,5
1,tournament semi-finals,2011-2022,8,8,4,376,96*,94.00,313,120.12,0,5,0,37,5
2,tournament quarter-finals,2011-2015,2,2,0,27,24,13.50,41,65.85,0,0,0,1,0
3,preliminary matches,2009-2022,130,141,26,5834,254*,50.73,7307,79.84,11,41,11,583,61

#### Changing the column names for better understanding - Formatting

In [53]:
Virat_kohli_bat_stats_match_typs.rename(columns = {'Mat':'Matches Played','Inns':'Innings_played','NO':'Not Outs','HS':'Highest Score','SR':'Strike Rate','BF':'Balls Faced'},inplace = True)

In [54]:
Virat_kohli_bat_stats_match_typs.head()

,Kind of Match,Span,Matches Played,Innings_played,Not Outs,Runs,Highest Score,Avg,Balls Faced,Strike Rate,100s,50s,0s,4s,6s
0,tournament finals,2009-2021,11,12,2,329,77,32.90,445,73.93,0,1,0,28,5
1,tournament semi-finals,2011-2022,8,8,4,376,96*,94.00,313,120.12,0,5,0,37,5
2,tournament quarter-finals,2011-2015,2,2,0,27,24,13.50,41,65.85,0,0,0,1,0
3,preliminary matches,2009-2022,130,141,26,5834,254*,50.73,7307,79.84,11,41,11,583,61

In [56]:
Virat_kohli_bat_stats_match_typs.dtypes

Kind of Match      object
Span               object
Matches Played      int64
Innings_played      int64
Not Outs            int64
Runs                int64
Highest Score      object
Avg               float64
Balls Faced         int64
Strike Rate       float64
100s                int64
50s                 int64
0s                  int64
4s                  int64
6s                  int64
dtype: object

In [62]:
Virat_kohli_bat_stats_match_typs.to_csv('Virat_kohli_bat_stats_match_typs.csv')

#### Virat Kohli's batting stats across different batting positions for all three formats

In [57]:
Virat_kohli_bat_stats_match_batting_pos = pd.read_excel('Virat_kohli_ESPN_test_odi_t20.xlsx', sheet_name='Batting_position')

In [58]:
Virat_kohli_bat_stats_match_batting_pos

,Batting Position,Span,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100s,50s,0s,4s,6s
0,1st position,2008-2017,8,8,0,229,54,28.62,236,97.03,0,1,0,32,3
1,2nd position,2008-2022,7,7,2,332,122*,66.40,261,127.20,1,2,0,37,9
2,3rd position,2009-2022,281,283,54,13372,183,58.39,13337,100.26,36,86,18,1243,188
3,4th position,2009-2022,135,185,18,8818,254*,52.80,13698,64.37,30,30,12,927,57
4,5th position,2010-2021,28,33,4,1173,107,40.44,2305,50.88,3,7,1,134,6
5,6th position,2011-2020,8,12,1,453,116,41.18,813,55.71,1,3,2,46,3
6,7th position,2009-2011,5,5,1,49,27,12.25,50,98.00,0,0,0,6,0

#### Changing the column names for better understanding - Formatting

In [59]:
Virat_kohli_bat_stats_match_batting_pos.rename(columns = {'Mat':'Matches Played','Inns':'Innings_played','NO':'Not Outs','HS':'Highest Score','SR':'Strike Rate','BF':'Balls Faced'},inplace = True)

In [60]:
Virat_kohli_bat_stats_match_batting_pos.head()

,Batting Position,Span,Matches Played,Innings_played,Not Outs,Runs,Highest Score,Avg,Balls Faced,Strike Rate,100s,50s,0s,4s,6s
0,1st position,2008-2017,8,8,0,229,54,28.62,236,97.03,0,1,0,32,3
1,2nd position,2008-2022,7,7,2,332,122*,66.40,261,127.20,1,2,0,37,9
2,3rd position,2009-2022,281,283,54,13372,183,58.39,13337,100.26,36,86,18,1243,188
3,4th position,2009-2022,135,185,18,8818,254*,52.80,13698,64.37,30,30,12,927,57
4,5th position,2010-2021,28,33,4,1173,107,40.44,2305,50.88,3,7,1,134,6

In [61]:
Virat_kohli_bat_stats_match_batting_pos.dtypes

Batting Position      object
Span                  object
Matches Played         int64
Innings_played         int64
Not Outs               int64
Runs                   int64
Highest Score         object
Avg                  float64
Balls Faced            int64
Strike Rate          float64
100s                   int64
50s                    int64
0s                     int64
4s                     int64
6s                     int64
dtype: object

In [63]:
Virat_kohli_bat_stats_match_batting_pos.to_csv('Virat_kohli_bat_stats_match_batting_pos.csv')